<html>

<head>
	<title>FlapperNews</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
	<link rel='stylesheet' href='/stylesheets/style.css'>
	<meta name="viewport" content="initial-scale=1" />
	<style>
		.glyphicon-thumbs-up {
			cursor: pointer
		}
	</style>
</head>

<body layout="row" class="layout-row" ng-app="flapperNews" ng-controller="AppCtrl">

	<!-- side nav at the left -->
	<md-sidenav layout="column" class="sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">

		<header>
			<a ng-href="#/home" class="nav-header">
				<h1 class="title-header md-heading">Flapper News</h1>
				<img src="images/flapper_logo.png" alt="flapper_logo" />
			</a>
		</header>

		<md-content flex role="navigation" class="flex" ng-controller="NavCtrl">
			<ul class="menu-list">
				<li><a ng-href="#/home">Home</a></li>
				<li><a href="#/slider">Images</a></li>
				<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
				<li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
				<li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
			</ul>
		</md-content>

	</md-sidenav>

	<div layout="column" flex id="content">
		<!-- Toolbar at the top -->
		<md-toolbar layout="row" ng-controller="NavCtrl" class="toolbar-header">
			<div class="md-toolbar-tools">
				<!-- button to toggle sidenav -->
				<md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
					<md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
				</md-button>
				
				<!-- if user is not logged in => title = Flapper News -->
				<h1 ng-hide="isLoggedIn()"><a ng-href="#/home">Flapper News</a></h1>
				<!-- if user is logged in => title = Welcome + username -->
				<h1 ng-show="isLoggedIn()">Welcome {{ currentUser() }}!</h1>
				
			</div>
		</md-toolbar>


		<md-content layout="column" flex class="md-padding">
			<div ui-view></div>
			<!-- all content is loaded here => 'ui-view' -->
		</md-content>
	</div>

	<!-- Angular scripts -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js "></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js "></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js "></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js "></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js "></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-messages.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
	
	<!-- Configuration angular app (module + config) -->
	<script src="/javascripts/angularApp.js "></script>

	<!-- Factories -->
	<script src="/factories/postsFactory.js"></script>
	<script src="/factories/authFactory.js"></script>

	<!-- Controllers -->
	<script src="/controllers/mainController.js"></script>
	<script src="/controllers/postsController.js"></script>
	<script src="/controllers/appController.js"></script>
	<script src="/controllers/authController.js"></script>
	<script src="/controllers/navController.js"></script>
	<script src="/controllers/sliderController.js"></script>

	<!-- Custom directives -->
	<script src="/directives/slider.js"></script>
</body>

</html>