<md-dialog aria-label="New Post" ng-cloak flex="50" flex-sm="70" flex-md="60">
  
  <form ng-submit="addPost()">
    
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add a new post</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    
    <md-dialog-content class="md-padding">
      
      <div class="md-dialog-content">
        
        <h4>Write something new...</h4>
        
        <md-input-container>
          <label>Title</label>
          <input required="" name="title" ng-model="title" type="text">
        </md-input-container>
        
        <md-input-container>
          <label>Link</label>
          <input name="link" ng-model="link" type="text">
        </md-input-container>
       
      </div>
      
    </md-dialog-content>
    
    <div class="md-actions" layout="row">
      <md-button ng-click="addPost()" class="addPostButton md-primary md-raised">Add</md-button>
    </div>
    
  </form>
</md-dialog>

