<h1 class="md-display-1 inset">Overview posts</h1>

<div ng-repeat="post in posts | orderBy: '-upvotes' " class="carddemoBasicUsage" layout="column">

	<md-content class="md-padding">
		<md-list>
			<md-list-item class="md-3-line">
				<img ng-src="{{imagePath}}" ng-click="incrementUpvotes(post)" class="like" />
				<div class="md-list-item-text">
					<h3>{{post.title}}</h3>
					<h4>posted by {{post.author}}</h4>
					<p>upvotes: {{post.upvotes}}</p>
				</div>
				<section layout="row" layout-sm="column">
					<md-button class="md-primary" ng-show="post.link" ng-href="{{post.link}}" target="_blank">Link</md-button>
					<md-button class="md-primary" ng-href="#/posts/{{post._id}}">Comments</md-button>
					<md-divider ng-if="!$last"></md-divider>
				</section>

			</md-list-item>
		</md-list>
	</md-content>
</div>

<div class="dialog-content" layout="row" layout-wrap="" layout-margin="" ng-show="isLoggedIn()" layout-align="center center">
	<md-button class="md-primary md-raised" ng-click="showDialog($event)" flex="50" flex-sm="50" flex-md="50">
		Add new post
	</md-button>
</div>

<div ng-hide="isLoggedIn()">
	<h3>You need to <a href="/#/login ">Log In</a> or <a href="/#/register ">Register</a> before you can add a post.</h3>
</div>