
<h1 class="md-display-1">Comments</h1>

<div class=" md-whiteframe-z2" flex-layout="column">
<h2 class="md-headline inset ">
	<a href="{{post.link}} " ng-show="post.link " target="_blank ">{{post.title}}</a>
	<span ng-hide="post.link ">{{post.title}}</span>
</h2>


<md-content class="md-padding">
	<md-list-item class="md-3-line" ng-repeat="comment in post.comments | orderBy: '-upvotes'">
		<img ng-src="{{imagePath}}" ng-click="incrementUpvotes(comment)" class="like" />
		<div class="md-list-item-text">
			<h3> {{ comment.body }} </h3>
			<h4> posted by {{ comment.author }} </h4>
			<p>upvotes: {{comment.upvotes}}</p>
		</div>
	</md-list-item>
	</md-content>
</div>


<div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" flex-layout="column" class="md-whiteframe-z2 inputIcons addComment"
layout-align="center center" ng-show="isLoggedIn()">

	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 class="md-headline inset" ng-show="isLoggedIn()">Add a new comment</h2>
		</div>
	</md-toolbar>

	<md-content class="md-padding">

		<form ng-submit='addComment()'>
			<md-input-container class="md-block md-icon-float">
				<label>Comment</label>
				<md-icon md-svg-src="images/icons/ic_email_24px.svg" class="email"></md-icon>
				<input required="" name="body" ng-model="body" type="text">
			</md-input-container>

			<section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
				<md-button class="md-raised md-primary">Add Comment</md-button>
			</section>

		</form>

	</md-content>
</div>


<md-button class="md-accent md-raised backButton" aria-label="Back" ng-href="#/home">
	<md-icon md-svg-src="images/icons/ic_back_36px.svg"></md-icon>
	Back
</md-button>

<div ng-hide="isLoggedIn()">
	<h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
</div>