<h1 class="md-display-1 inset">Register</h1>

<md-toolbar ng-show="error" class="md-warn">
	<div class="md-toolbar-tools">
		<h2 class="md-flex">{{ error.message }}</h2>
	</div>
</md-toolbar>

<div flex-layout="row" layout-align="center center">
	<div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2">

		<md-content class="md-padding">
			
				<form name="registerForm" ng-submit="register()">

					<md-input-container class="md-block">
						<label>Username</label>
						<input required="" name="username" ng-model="user.username" type="text">
						<div ng-messages="registerForm.username.$error">
							<div ng-message="required">This is required.</div>
						</div>
					</md-input-container>
					
					<md-input-container class="md-block">
						<label>Password</label>
						<input required="" name="password" ng-model="user.password" type="password">
						<div ng-messages="registerForm.password.$error">
							<div ng-message="required">This is required.</div>
						</div>
					</md-input-container>

					<section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
						<md-button class="md-raised md-primary">Register</md-button>
					</section>

				</form>
			
		</md-content>
	</div>
</div>
