<md-button class="md-accent md-raised backButton" aria-label="Back" ng-href="#/home">
	<md-icon md-svg-src="images/icons/ic_back_36px.svg"></md-icon>
	Back
</md-button>

<h1 class="md-display-1 inset">Slide trough some images...</h1>

<slider images="images"></slider>


