body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* toolbar style (h1) */
.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

a {
  color: #00B7FF;
}

/* slider (custom directive) style */
.slide.ng-hide-add,
.slide.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block!important;
}
.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
  opacity: 0;
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

* {
  font-family: 'Open Sans', sans-serif;
}
.center-grey {
  background: #f2f2f2;
}
.slider {
  position: absolute;
  padding: 5px;
  width: 600px;
  margin-top: 15px;
  margin-left: 12px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 15px #999;
}
.arrows {
  position: absolute;
  top: 10px;
  right: 20px;
}
.arrows img {
  height: 32px;
}


/* add post button */
.addPostButton {
  margin-right:20px;
}

/* like button/image */
.like {
  height: 45;
  width: auto;
  margin: 15px;
}

/* nav header */
.nav-header {
  background-color: #106CC8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.nav-header > img {
  height: 150px;
  width: auto;
  display: block;
}

.title-header {
  text-align: center;
  color: white;
  font-weight: 200;
  font-size: 30px;
}

/* nav menu list */
.menu-list, 
.menu-list ul {
  list-style: none;
  max-width: 100%;
  padding: 0;
  overflow-x: hidden;
  background: #267ED5 !important;
  padding-left: 15px;
}

.menu-list li {
  margin: 12px;
  display: block;
  font-size: 20px;
  background: #267ED5 !important;
}

.menu-list a {
  color: white;
}


/* side navigation */
.sidenav {
  background-color: #106CC8;
}

.sidenav md-content {
  background: transparent;
}

/* add comment icon style */
.inputIcons md-input-container:not(.md-input-invalid) > md-icon.email {
  color: green; 
 }
 
 .inputIcons md-input-container.md-input-invalid > md-icon.email{
  color: red; 
 }
 
 /* add comment box style */
 .addComment {
   margin-top: 25px;
 }
 
 /* header toolbar style */
 .toolbar-header {
   background: #267ED5 !important;
 }
 
 /* back button style */
 .backButton {
   margin-top: 25px;
 }
 
 
 

